<!DOCTYPE html>
<html lang="en">
  <% include head %>
    
  <body>
  <% include navbar %>
    <div class="container">
      <div class="row">
        <div class="title col-xs-12 text-center">
          <%= movieData.title %>
        </div>
        <div class="col-xs-8 col-xs-offset-2">
          <form id="search-form" class="form-inline" action="/search" method="post">
            <input type="text" placeholder="Movie Title" name="searchString" />
            <button type="submit" class="btn btn-success">Search!</button>
          </form>
        </div>
        <div class="col-xs-12 movies">
              <div class="col-xs-10 col-xs-offset-1 info-wrapper">
                <div class="col-xs-12">
                  <h3>Overview:</p><h4><%= movieData.overview %></h4>
                </div>
                <div class="inner-wrapper">
                  <div class="col-xs-4">
                  <h3>Starring:</h3>
                    <% for (let i=0; i<5; i++) { %>
                      <h4><%= castData.cast[i].name %></h4>
                    <% } %>
                    <h3>Director:</h3>
                    <% for (let i=0; i < castData.crew.length; i++) {
                      if (castData.crew[i].job == 'Director') { %>
                          <h4><%= castData.crew[i].name %></h4>
                     <% } 
                    } %>
                    
                  </div>
                  <div class="col-xs-8 text-center">
                    <img src="<%= imageBaseUrl + movieData.poster_path %>" >
                  </div>
                </div>
                <div class="col-xs-8 col-xs-offset-2 text-center trailer">
                  <a data-fancybox href="<%= trailer %>"><button class="btn btn-success">View the Trailer</button></a>
                </div>
              </div>
        </div>
      </div>
    </div>
  </body>
</html>