
html 
  <% include head %>
    
  body
  #{include navbar}
    div.container
      div.row
        div.title.col-xs-12.text-center
          #{movieData.title}
        
        div.col-xs-8.col-xs-offset-2">
          form (id="search-form" class="form-inline" action="/search" method="post")
            input (type="text" placeholder="Movie Title" name="searchString")
            button.btn.btn-success (type="submit")Search!
        div.col-xs-12.movies
              div.col-xs-10.col-xs-offset-1.info-wrapper
                div.col-xs-12
                  h3 Overview: #{movieData.overview}
                div.inner-wrapper
                  div.col-xs-4
                  h3 Starring:
                    - for (let i = 0; i < 5; i++) {
                      h4 #{castData.cast[i].name}
                    - }
                  h3 Director:
                    - for (let i=0; i < castData.crew.length; i++) {
                        if (castData.crew[i].job == 'Director') { 
                          h4= #{castData.crew[i].name}
                      } 
                    - } 
                  div.col-xs-8 text-center
                    img (src="#{imageBaseUrl + movieData.poster_path}")
                div.col-xs-8.col-xs-offset-2.text-center.trailer
                      a.btn data-fancybox (href="#{trailer})
                         button.btn View the Trailer
